body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f6;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 60px;
  background: white;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-box {
  background: #4f46e5;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.nav-links {
  display: flex;
  gap: 30px;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  color: black;
}

.nav-links button {
  background: #4f46e5;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 12px;
}

.hero {
  background: linear-gradient(to right, #4338ca, #6366f1);
  color: white;
  padding: 120px 100px;
}

.hero h1 {
  font-size: 64px;
}

.explore-btn {
  margin-top: 20px;
  padding: 15px 25px;
  border: none;
  border-radius: 12px;
  font-size: 18px;
}

.courses {
  padding: 60px;
  text-align: center;
}

.course-grid {
  display: flex;
  gap: 30px;
  margin-top: 40px;
  justify-content: center;
}

.card {
  width: 300px;
  background: white;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card h2,
.card p {
  padding: 10px;
}